.headerBG{
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 400px;
}

.body{
    grid-template-columns: 1.2fr 4fr;
    background-color: white;
    border-radius: 24px;
}

.products-view{
    grid-template-columns: repeat(auto-fit, minmax(314px, 314px));
}